    <footer>
        <div class='foot-left'>
            <div class='footer-nav'>
                <a href='/'>Home</a>
                <a href='/about'>About</a>
                <a href='/projects'>Projects</a>
                <a href='/contact'>Contact</a>
            </div>
            <div><i class="far fa-copyright"></i>  Copyright 2019 River City Hardwood Flooring</div>
            <p class='credits'>Web Design by alfalfa Technologies</p>
            <div class='credits'>Icons made by <a href="https://www.fontawesome.com/">fontawesome.com</a></div>
        </div>
        <div class='foot-right'>
            <p>River City Hardwood Flooring</p>
            <p>Wichita, Kansas</p>
            <p>phone: (316) 555-5555</p>
            <p>email: rivercityhardwood@gmail.com</p>
            <a href='#'><i class="fab fa-facebook-square"></i>  Facebook</a>
            <a href='#'><i class="fab fa-instagram"></i>  Instagram</a>
            <a href='#'><i class="fab fa-twitter-square"></i>  Twitter</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src='https://unpkg.com/aos@2.3.1/dist/aos.js'></script>
    <script>
        AOS.init();
    </script>
    <script src='/lib/main.js'></script>
    </body>
</html>
