<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
        <title>River City Flooring</title>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
        <link rel="shortcut icon" type="image/png" href="/img/icon.png"/>
</head>
    <body>
        <nav class="navbar">
            <ul>
                <li><a href="/"><img id='brand' src='/img/nav-white.png'></a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>