<% include partials/nav-header %>

<div class='light container'>
    <div style='background-image: url("https://images.pexels.com/photos/1571463/pexels-photo-1571463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");' class='banner'>
        <div class='banner-head'>
            <h1>About Us</h1>
        </div>
    </div>
    <div class='about-content'>
        <div class='about-header'>
            <h2>Allow us to introduce ourselves...</h2>    
        </div>
        <div class='about-photos'>
            <div style="background-image: url('https://images.pexels.com/photos/1138903/pexels-photo-1138903.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');" class='photo'>
                <div class='about-txt'>
                    <h4>John Bronson</h4>
                    <p>Owner</p>
                </div>
            </div>
            <div style="background-image: url('https://images.pexels.com/photos/937481/pexels-photo-937481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');" class='photo'>
                <div class='about-txt'>
                    <h4>Tim Vernon</h4>
                    <p>President</p>
                </div>
            </div>
            <div style="background-image: url('https://images.pexels.com/photos/832998/pexels-photo-832998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');" class='photo'>
                <div class='about-txt'>
                    <h4>Bill Pendergrass</h4>
                    <p>Supervisor</p>
                </div>
            </div>
        </div>
        <div class='about-info'>
            <h3>We know alot about wood.</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            <h3>Family-owned and operated.</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
    </div>
    
</div>
<footer>
        <div class='foot-left'>
            <div><i class="far fa-copyright"></i>  Copyright 2019 River City Hardwood Flooring</div>
            <p>Web Design by alfalfa Technologies</p>
            <div class='credits'>Icons made by <a href="https://www.freepik.com/">Freepik</a> from <a href="https://www.flaticon.com/">flaticon.com</a> and <a href="https://www.fontawesome.com/">fontawesome.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div class='footer-nav'>
                <a href='/'>Home</a>
                <a href='/about'>About</a>
                <a href='/projects'>Projects</a>
                <a href='/contact'>Contact</a>
            </div>
        </div>
        <div class='foot-right'>
            <p>River City Hardwood Flooring</p>
            <p>Wichita, Kansas</p>
            <p>phone: (316) 555-5555</p>
            <p>email: rivercityhardwood@gmail.com</p>
            <a href='#'><i class="fab fa-facebook-square"></i>  Facebook</a>
            <a href='#'><i class="fab fa-instagram"></i>  Instagram</a>
            <a href='#'><i class="fab fa-twitter-square"></i>  Twitter</a>
        </div>
    </footer>

<% include partials/footer %>