<% include partials/nav-header %>

<div class='light container'>
    <div style='background-image: url("https://images.pexels.com/photos/205421/pexels-photo-205421.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");' class='banner'>
        <div class='banner-head'>
            <h1>Contact</h1>
        </div>
    </div>
    <div class='input-container'>
        <div class='form-container'>
            <h3>Contact Us</h3>
            <p>Fill out this form to get an estimate</p>
            <form action='/contact' method='POST'>
                <div class='name'>
                    <input style='margin-right: 6px;' name='firstName' type='text' placeholder='First Name'>
                    <input style='margin-left: 6px;' name='lastName' type='text' placeholder='Last Name'>
                </div>
                <input name='email' type='text' placeholder='Email'>
                <input name='phone' type='text' placeholder='Phone #'>
                <input name='sqft' type='number' placeholder='Approx sqft'>
                <input name='desc' type='text' placeholder='Description'>
                <input type='submit' vaule='Contact Us'>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>