<% include partials/html-header %>

<div class="home-container">
    <nav class="navbar">
        <ul>
            <li><a href="#home"><img id='brand' src='/img/nav-white.png'></a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <section id="home">
      <div class="slider">
        <div class="slide current">
          <div class="content">
            <h3>Carriage Crossing</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab reiciendis dolores provident error nemo labore!</p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h3>Miller's Residence</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab reiciendis dolores provident error nemo labore!</p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h3>Hamilton Residence</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab reiciendis dolores provident error nemo labore!</p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h3>Thomas' Cottage</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab reiciendis dolores provident error nemo labore!</p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h3>Jackson's Ranch</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab reiciendis dolores provident error nemo labore!</p>
          </div>
        </div>
        </div>
        <div class="buttons">
          <button id='prev'><i class="fas fa-arrow-left"></i></button>
          <button id='next'><i class="fas fa-arrow-right"></i></button>
        </div>
        <div class='break'>
            <p>See Our Full Gallery Here:</p>
            <a href='gallery' class='button'>View Gallery</a>
        </div>
    </section>
    <section id="about">
        <h1 style='text-shadow: 2px 2px 4px #000000;'>About Us</h1>
        <div class='three-block'>
            <a href='/about' data-aos="fade-up" data-aos-duration="500" class='block'>
                <img class='icons' src='/img/tools2.png'>
                <h1>Preparation</h1>
                <p>Lorem ipsum dolor sit amet, duo homero constituam id, choro noster repudiandae sit eu, eu per dicit vivendo.</p>
            </a>
            <a href='/about' data-aos="fade-up" data-aos-duration="400" data-aos-delay="200" class='block'>
                <img class='icons' src='/img/floor.png'>
                <h1>Flooring</h1>
                <p>Lorem ipsum dolor sit amet, duo homero constituam id, choro noster repudiandae sit eu, eu per dicit vivendo.</p>
            </a>
            <a href='/about' data-aos="fade-up" data-aos-duration="400" data-aos-delay="400" class='block'>
                <img class='icons' src='/img/cleaner.png'>
                <h1>Finishing</h1>
                <p>Lorem ipsum dolor sit amet, duo homero constituam id, choro noster repudiandae sit eu, eu per dicit vivendo.</p>
            </a>
        </div>
    </section>
    <section id="projects">
        <div class='text-block'>
            <h1>Projects</h1>
            <p>Lorem ipsum dolor sit amet, duo homero constituam id, choro noster repudiandae sit eu, eu per dicit vivendo.</p>
            <a href='/projects' class='button'>See More</a>
        </div>
    </section>
    <section id="contact">
        <div class='text-block'>
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit amet, duo homero constituam id, choro noster repudiandae sit eu, eu per dicit vivendo.</p>
            <a href='/contact' class='button'>Contact Us</a>
        </div>
    </section>
</div>

<script src='/lib/slideshow.js'></script>
<% include partials/footer %>
