<% include partials/nav-header %>

<div class='dark container'>
    <div style='background-image: url("https://images.pexels.com/photos/368754/pexels-photo-368754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");' class='banner'>
        <div class='banner-head'>
            <h1>Projects</h1>
        </div>
    </div>
    <div class='grid'>
        <a href='#' class='project'>
            <img src='https://images.pexels.com/photos/2032021/pexels-photo-2032021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
        </a>
        <a href='#' class='project'>
            <img src='https://images.pexels.com/photos/189333/pexels-photo-189333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
            
        </a>
        <a href='/' class='project'>
            <img src='https://images.pexels.com/photos/271632/pexels-photo-271632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
        </a>
        <a href='#' class='project'>
            <img src='https://images.pexels.com/photos/1813669/pexels-photo-1813669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
        </a>
        <a href='#' class='project'>
            <img src='https://images.pexels.com/photos/1082357/pexels-photo-1082357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
        </a>
        <a href='#' class='project'>
            <img src='https://images.pexels.com/photos/2082087/pexels-photo-2082087.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
        </a>
    </div>
    <footer>
        <div class='foot-left'>
            <div><i class="far fa-copyright"></i>  Copyright 2019 River City Hardwood Flooring</div>
            <p>Web Design by alfalfa Technologies</p>
            <div class='credits'>Icons made by <a href="https://www.freepik.com/">Freepik</a> from <a href="https://www.flaticon.com/">flaticon.com</a> and <a href="https://www.fontawesome.com/">fontawesome.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div class='footer-nav'>
                <a href='/'>Home</a>
                <a href='/about'>About</a>
                <a href='/projects'>Projects</a>
                <a href='/contact'>Contact</a>
            </div>
        </div>
        <div class='foot-right'>
            <p>River City Hardwood Flooring</p>
            <p>Wichita, Kansas</p>
            <p>phone: (316) 555-5555</p>
            <p>email: rivercityhardwood@gmail.com</p>
            <a href='#'><i class="fab fa-facebook-square"></i>  Facebook</a>
            <a href='#'><i class="fab fa-instagram"></i>  Instagram</a>
            <a href='#'><i class="fab fa-twitter-square"></i>  Twitter</a>
        </div>
    </footer>
</div>


<% include partials/footer %>