<% include partials/nav-header %>

<div class='dark container'>
    <div style='background-image: url("https://images.pexels.com/photos/368754/pexels-photo-368754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");' class='banner'>
        <div class='banner-head'>
            <h1>Projects</h1>
        </div>
    </div>
    <div class='grid'>

      <% projects.forEach(project => { %>

        <a href='#' class='project'>
            <img src='<%= project.img %>'>
            <div class='project-txt'>
                <h4><%= project.title %></h4>
                <p><%= project.locale %></p>
            </div>
        </a>

      <% }); %>

    </div>
</div>
<script type="text/javascript" src='/lib/grid.js'>

</script>
<% include partials/footer %>
