<% include partials/nav-header %>

<div class='dark container'>
    <div style='background-image: url("https://images.pexels.com/photos/368754/pexels-photo-368754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");' class='banner'>
        <div class='banner-head'>
            <h1>Projects</h1>
        </div>
    </div>
    <div class='grid'>
        <a href='#' class='project'>
            <img src='https://images.pexels.com/photos/2032021/pexels-photo-2032021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
        </a>
        <a href='#' class='project'>
            <img src='https://images.pexels.com/photos/189333/pexels-photo-189333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
            
        </a>
        <a href='/' class='project'>
            <img src='https://images.pexels.com/photos/271632/pexels-photo-271632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
        </a>
        <a href='#' class='project'>
            <img src='https://images.pexels.com/photos/1813669/pexels-photo-1813669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
        </a>
        <a href='#' class='project'>
            <img src='https://images.pexels.com/photos/1082357/pexels-photo-1082357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
        </a>
        <a href='#' class='project'>
            <img src='https://images.pexels.com/photos/2082087/pexels-photo-2082087.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'>
            <div class='project-txt'>
                <h4>Project Name</h4>
                <p>Project Location, KS</p>
            </div>
        </a>
    </div>
</div>

<% include partials/footer %>